@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {
  margin     : 0;
  font-family: 'Quicksand', 'Segoe UI';
  color      : #333;
}

.content {
  margin   : 40px auto;
  max-width: 800px;
}

.home {
  padding  : 10px;
  display  : flex;
  flex-wrap: wrap;
  border   : .5px dashed #999999;
}

/* For Loading SMS */
.home div span {
  color      : green;
  font-weight: 700;
  font-size  : 35px;
}

/* For Error SMS */
.home div h3 {
  margin     : 20px 0 0;
  color      : tomato;
  font-weight: 700;
}

.navbar {
  padding        : 20px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  max-width      : 600px;
  margin         : 0 auto;
  border-bottom  : 1px solid #888;
}

.navbar h1 {
  color: #F1356D;
}

.navbar .link {
  margin-left: auto;
}

.navbar a {
  padding        : 6px;
  margin-left    : 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: #F1356D;
}

button {
  border       : .5px solid #000;
  outline      : 0;
  background   : #F3F3F3;
  padding      : 8px 20px;
  border-radius: 7px;
  cursor       : pointer;
}

button:hover {
  border: 1px solid tomato;
}

/* Blog Preview */
.blog_preview {
  padding      : 20px;
  margin       : 10px;
  border-bottom: 1px solid #fafafa;
  border       : 1px solid rgba(0, 0, 0, 0.3);
  transition   : .2s ease-in-out;
}

.blog_preview:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  cursor    : pointer;
}

.blog_preview h2 {
  font-size    : 30px;
  color        : #F1356D;
  margin-bottom: 10px;
}

.blog_preview p {
  margin: 1px;
}

.blog_list {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-around;
}

.blog_list a {
  text-decoration: none;
  color          : #000;
}

/* Blog Reading */

.blog_details h2 {
  font-size    : 30px;
  color        : #F1356D;
  margin-bottom: 10px;
}

.blog_details div {
  margin: 20px 0;
}

.blog_details button {

  background   : #F1356D;
  color        : #fff;
  border       : 0;
  padding      : 8px;
  border-radius: 8px;
  cursor       : pointer;
}

/* Blog Input Form */

.create {
  max-width : 400px;
  margin    : 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display   : block;
}

.create h2 {
  font-size    : 20px;
  color        : #F1356D;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width     : 100%;
  padding   : 6px 10px;
  margin    : 10px 0;
  border    : 1px solid #ddd;
  box-sizing: border-box;
  display   : block;
}

.create button {
  background   : #F1356D;
  color        : #fff;
  border       : 0;
  padding      : 8px;
  border-radius: 8px;
  cursor       : pointer;
}

.page-not-found {
  text-align: center;

}

.page-not-found a {
  display        : block;
  margin-top     : 40px;
  text-decoration: none;
  color          : #F1356D;
  cursor         : pointer;
}